{%- extends 'utils/layout.html' -%}

{%- block title -%}
  {%- if org.name == "main" -%}
    Learn - CSCenter
  {%- else -%}
    Learn - {{ org.name }} - CSCenter
  {%- endif -%}
{%- endblock -%}

{%- block content_header -%}
  <h1 class="header">
    Learn  
  </h1>
  <hr>
{%- endblock -%}

{%- block content -%}
  <div>
    <div class="left-side">
      <h1 class="subheader" class>
        <a href="/lessons/">Lessons</a>
      </h1>
      <i class="fa fa-book fa-7x" aria-hidden="true"></i>
    </div>
    
    <div class="right-side">
      <h1 class="subheader">
        <a href="/topics/">Topics</a>
      </h1>
      <i class="fa fa-star fa-6x" aria-hidden="true"></i>
    </div>
  </div>
{%- endblock -%}