{%- extends 'utils/layout.html' -%}

{%- block header -%}
  {%- include 'utils/mathjax-import.html' -%}
{%- endblock -%}

{%- block title -%}
  Lesson - {{ lesson.title }} - CSCenter
{%- endblock -%}

{% block content_header %}
  <h1 class="header">
    {{ lesson.title }}
  </h1>
  <hr />
  {%- if lesson.authors -%}
    <span class="small-text">By {{ lesson.authors | map("display_user_as_link") | list | english_join | safe }}</span>
    <br />
  {%- endif -%}
  <span class="small-text">Written {{ time_delta_display(lesson.create_time) }}</span>
{% endblock %}

{%- block content -%}
  {{ lesson.body | markdown }}
{%- endblock -%}