<!DOCTYPE html>

{%- from 'utils/macros.html' import input_field, textbox_field with context -%}

<html lang="en">
  <head>
    <title>
    {% block title %}
      CS Center
    {% endblock %}
    </title>
    {%- block dependencies -%}
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta charset="UTF-8" />
      <link rel="icon" type="image/x-icon" href="{{'/alticon.ico' if sudo else '/favicon.ico' }}" />

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine:400,700|Open+Sans:300,400,600|Material+Icons" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css" integrity="sha256-zcunqSn1llgADaIPFyzrQ8USIjX2VpuxHzUwYisOwo8=" crossorigin="anonymous" />

      {{ css_link("/static/css/global/clickables.css") }}
      {{ css_link("/static/css/global/fields.css") }}
      {{ css_link("/static/css/global/fontawesome-mods.css") }}
      {{ css_link("/static/css/global/fonts.css") }}
      {{ css_link("/static/css/global/formatting.css") }}
      {{ css_link("/static/css/global/global.css") }}
      {{ css_link("/static/css/global/special-tags.css") }}
      {{ css_link("/static/css/global/tables.css") }}
      {{ css_link("/static/css/global/user-colors.css") }}
      {{ css_link("/static/css/utils/highlight.css") }}
      {{ css_link("/static/css/utils/layout.css") }}
      {{ css_link("/static/css/utils/utils.css") }}
      {%- if request.MOBILE -%}
        {{ css_link("/static/css/utils/mobile.css") }}
      {%- endif -%}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js" integrity="sha256-aYTdUrn6Ow1DDgh5JTc3aDGnnju48y/1c8s1dgkYPQ8=" crossorigin="anonymous"></script>

      {{ js_link("/static/js/utils/configure-highlight.js") }}
      {{ js_link("/static/js/utils/keybinds.js") }}
      {{ js_link("/static/js/utils/load-events.js") }}
      {{ js_link("/static/js/utils/requests.js") }}
    {%- endblock -%}

    {%- block header -%}
    {%- endblock -%}
  </head>

  <body>
    <input id="blur-hack" type="text" />
    <div id="helpbox" class="monospace" hidden>
      <span id="helpbox-title">go to...</span><br /><br />
      <div id="helpbox-entries"></div>
    </div>
    <div id="main-body">
      {%- block navbar -%}
        {%- if request.MOBILE -%}
          {%- include 'utils/mobile-navbar.html' -%}
        {%- else -%}
          {%- include 'utils/navbar.html' -%}
        {%- endif -%}
      {%- endblock -%}
      <div>
        <div id="content-header">
          {%- block content_header -%}
          {%- endblock -%}
        </div>
        <div id="content-body">
          {%- block attendance_message -%}
            {%- if user and user.attendance_organizations() -%}
              <div class="status-box status-box--info">
                <ul>
                  <li>Attendance is being taken for {{ user.attendance_organizations() | map("attendance_link") | english_join | safe }}.</li>
                </ul>
              </div>
            {%- endif -%}
          {%- endblock -%}

          {%- block status_box -%}
            {%- include 'utils/status-box.html' -%}
          {%- endblock -%}

          {%- block content -%}
          {%- endblock -%}
        </div>
      </div>
      {%- block contentFooter -%}
      {%- endblock -%}
    </div>
    <hr id="footer-separator" />
    <footer id="endnote">
      {%- block endnote -%}
          <span class="bubbled">&copy; 2019 The CS Center Dev Team&nbsp;&middot;&nbsp;<a href="/privacy/">Privacy Policy</a>&nbsp;&middot;&nbsp;<a href="/tos/">Terms of Service</a></span>
      {%- endblock -%}
    </footer>
  </body>

  <!--
    Copyright 2019, Alexander Liao and Keenan Gugeler

    Permission is hereby granted, free of charge, to any person obtaining a copy of
    this software and associated documentation files (the "Software"), to deal in
    the Software without restriction, including without limitation the rights to
    use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
    the Software, and to permit persons to whom the Software is furnished to do so,
    subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
    FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
    COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
    IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->
</html>
