{%- set users = get_user_list(include_all) -%}

<script src="/get-users.js?include_all={{ 'y' if include_all else 'n' }}" type="text/javascript"></script>
{{ css_link("/static/css/utils/user-selector.css") }}
{{ js_link("/static/js/utils/user-selector.js") }}

<div class="material-field-container material-input-container">
  <input name="target" id="target" class="standard-input-size" type="search" autocorrect="off" autocomplete="off" placeholder=" " /> <label for="target" class="material-field-container-label">Username</label>
</div>
<div id="username-matches" class="flex-column">
  {%- for username, uid in users -%}
    <span id="user-{{ uid }}" class="user-match">
      {%- if href -%}
        <a href="{{ href.replace('%u', uid | string) }}" class="button-link no-select">
      {%- else -%}
        <button class="no-select user-select-button" data-uid="{{ uid }}" type="button">
      {%- endif -%}
        <span class="table-row">
          <span class="table-cell">{{ uid }}</span>
          <span class="table-cell pad-left">{{ uid | display_user | safe }}</span>
        </span>
      {%- if href -%}
        </a>
      {%- else -%}
        </button>
      {%- endif -%}
    </span>
  {%- endfor -%}
</div>