{%- extends 'utils/layout.html' -%}

{%- block title -%}
  admin - attendance
{%- endblock -%}

{%- block content_header -%}
  <h1 class="header">
    admin - attendance
  </h1>
  <hr />
{%- endblock -%}

{%- block content -%}
  <form id="attendance-form" method="post">
    {{ form.csrf_token }}
    <a class="button-link outlined-button" href="display">Display code</a>
    <input class="button outlined-button" type="submit" value="Create New" />
    <br /><br />
  {%- for code in attendance_codes.query.filter_by(oid = get_org_id()).order_by(attendance_codes.start.desc()) -%}
    {%- set outer_loop = loop -%}
    <div class="code-edit border-box">
      <a href="{{ code.id }}">
        {{ (code.code if code.code else "<em>No code</em>") | safe }}
      </a>

      <br><br>

      <span id="info-{{ loop.index }}" class="monospace">
        {%- if get_time() > code.end -%}
          [Expired]
        {%- elif code.end > get_time() > code.start -%}
          [Active]
        {%- else -%}
          [Upcoming]
        {%- endif -%}
      </span><br /><br />
      <button name="delete" type="submit" value="{{ code.id }}" class="outlined-button">Delete this code (cannot be undone!)</button>
    </div>
    <br>
  {%- endfor -%}
  </form>
{%- endblock -%}
