{%- extends 'utils/layout.html' -%}

{%- block title -%}
  Calendar
{%- endblock -%}

{%- block content_header -%}
  <h1 class="header">
    Calendar
  </h1>
  <hr />
{%- endblock -%}

{%- block content -%}
  <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=googleapps.wrdsb.ca_classroom8ffab068%40group.calendar.google.com&amp;color=%23004d40&amp;ctz=America%2FToronto" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{%- endblock -%}