{%- extends 'utils/layout.html' -%}

{%- block title -%}
  FAQ
{%- endblock -%}

{%- block content_header -%}
  <h1 class="header">
    FAQ
  </h1>
  <hr />
{%- endblock -%}

{%- block content -%}
  <div id="account-disabled">
    <b class="subsubheader">My account's been disabled. What does that mean?</b><br />
    <p class="indent-paragraph">
      If your account is disabled (you will get this message when you try to log in), it means that a moderator or administrator has removed your privilege to use this site. This decision was made based on behavior in comments, chat, or to problem submissions. If you believe that this decision was made erroneously, please <a href="/contact">contact us</a> and we will investigate the issue as soon as possible.
    </p>
  </div>
{%- endblock -%}