{%- extends 'utils/layout.html' -%}

{% block title %}
  Privacy Policy
{% endblock %}

{% block content_header %}
  <h1 class="header">
    Privacy Policy
  </h1>
  <hr />
{% endblock %}

{%- block content -%}
  <p>
    We are committed to protecting your privacy and upholding standards that create a safe and enjoyable experience for users of the internet. This Privacy Policy applies to the official CS Center website and all data collection and usage on any of its subdomains. By using this site, you consent to follow the policies described in this document.
  </p>
  <p>
    This privacy statement only applies to the official CS Center website. We encourage you to read the privacy policies of other websites to which you provide personal information because each website has different policies on what information they collect and how they use it. We are not responsible for the privacy policies of other websites, including Firebase and Google.
  </p>
  <h4>
    Use of Personal Information
  </h4>
  <p>
    Your personal information is only ever used to identify you as a user to better serve you. Your information is used to authenticate you to use the server and to identify you for the attendance records to uphold our standards of service. None of your information will be given to third parties or become publicly accessible anywhere.
  </p>
  <h4>
    Cookies
  </h4>
  <p>
    Cookies are small data files stored locally on your hard drive to remember information about the websites you receive. You may configure your browser to not use cookies, as most sites do not depend on them, only using them to better provide services to its users. This site only uses cookies to remember the authentication token used to sign you in to the site. It does not store your email address or password. You can use the site without cookies enabled, but you will not remain signed in when you reload the page. You can read more about how authentication tokens work <a href="https://jwt.io/introduction">here</a>.
  </p>
  <h4>
    Use of Third Party Services
  </h4>
  <p>
    CS Center's website allows authentication through Google and GitHub OAuth and usage is subject to the privacy policies of these services.
  </p>
  <p>
    This site implements Google reCAPTCHA v3, and your use is subject to Google's <a href="https://policies.google.com/privacy">privacy policy</a>.
  </p>
  <h4>
    Security of Personal Information
  </h4>
  <p>
    No computational system can be guaranteed to be 100% secure; however, we take steps to ensure maximum security of your information. Your information is stored in a database on a controlled and secured environment on BudgetNode, which is a trusted service for web hosting. Some authentication information is managed by Google or GitHub, which is a trusted service for authentication and storing data privately and securely.
  </p>
  <p>
    We aim for transparency, so we will notify users of any security vulnerabilities that affect their usage of this site, and you may contact us if you have any questions regarding how we handle your information.
  </p>
  <h4>
    External Links
  </h4>
  <ul>
    <li><a href="https://policies.google.com/privacy">Google's Privacy Policy</a></li>
    <li><a href="https://help.github.com/en/articles/github-privacy-statement">GitHub's Privacy Policy</a></li>
  </ul>
{%- endblock -%}