{%- extends 'utils/layout.html' -%}

{% block title %}
  Terms of Service
{% endblock %}

{% block content_header %}
  <h1 class="header">
    Terms of Service
  </h1>
  <hr />
{% endblock %}

{%- block content -%}
  <p>
    By using any part of the CS Center website, you accept and agree to be bound by the terms of this agreement. Additionally, you agree to obey any and all rules and / or guidelines set when using any services of this website, including those that may be changed arbitrarily. Thus, all such rules and / or guidelines are incorporated into the Terms of Service through this reference.
  </p>
  <p>
    <b>Any and all participation in this website implies acceptance of the terms of this document. If you do not accept or agree to abide by the rules and guidelines of this document, we ask you to please refrain from using the services of this website.</b>
  </p>
  <h4>
    Disclaimers
  </h4>
  <p>
    This site and its components are offered for informational purposes only; this site shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the site, and shall not be responsible or liable for any error or omissions in that information.
  </p>
  <p>
    Note that this site is not fully compliant to the standards of the GDPR (General Data Protection Regulation of the European Union) as this server and its intended audience are not located in a relevant area and we believe that to better serve this specific audience, some of the GDPR's terms go against our ideal service.
  </p>
  <p>
    This site implements Google reCAPTCHA v3, and your use is subject to Google's <a href="https://policies.google.com/terms">terms of service</a>.
  </p>
  <h4>
    Intellectual Property Rights
  </h4>
  <p>
    We respect the intellectual property rights of everyone and believe that the products of one's own labor should be solely and entirely attributed to the creator. Our policy is to never use, make publicly available, or publish any content submitted to this website by its users. If you believe that any of your rights have not been respected, please report it to us at wcics.site(at)gmail.com.
  </p>
  <h4>
    External Links
  </h4>
  <ul>
    <li><a href="https://policies.google.com/terms">Google's Terms of Service</a></li>
    <li><a href="https://budgetnode.com/tos/">BudgetNode's Terms of Service</a></li>
  </ul>
{%- endblock -%}